<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Verification</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; line-height: 1.6; background-color: #f5f5f5;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <!-- Header -->
    <div style="text-align: center; padding: 20px; background-color: #21215B;">
        <h1 style="color: #ffffff; margin: 0;">Omniversity</h1>
    </div>

    <!-- Content -->
    <div style="padding: 30px; background-color: #dadaeb; ">
        <h2 style="color: #2c3e50; text-align: center;">Verify Your Email Address</h2>
        <p style="text-align: center;">Hello&nbsp;<span th:text="${name}"></span>,</p>
        <p style="text-align: center;">Thank you for registering with Omniversity!</p>
        <p style="text-align: center;">Please use the following verification code to activate your account</p>

        <!-- Verification Code -->
        <div style="text-align: center; margin: 30px 0;">
            <div style="display: inline-block; padding: 15px 30px; background-color: #f0f0f0; font-size: 24px; letter-spacing: 3px;">
                <span th:text="${token}"></span>
            </div>
        </div>


        <p style="text-align: center;">If you didn't create an account with Omniversity, you can ignore this email</p>
        <div style="text-align: center;">
            <button style="width: 60%; height: 2.5em; background-color: #4545cc; border-radius: 0.5em; font-size: 1.5em; font-weight: bold; color: white">Go To App</button>
        </div>
    </div>

    <!-- Footer -->
    <div style="text-align: center; padding: 20px; color: #666666; font-size: 12px;">
        <p>© 2025 Omniversity. All rights reserved.</p>
        <p>omniversity.co@gmail.com</p>
        <p>Need help? <a href="[Contact URL]" style="color: #3498db;">Contact Support</a></p>
    </div>
</div>
</body>
</html>